@model IEnumerable<Conembador.Models.Arquivo>

@{
    ViewData["Title"] = "Apresentar Arquivos";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome EDI</th>
            <th>Versão</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arquivo in Model)
        {
            <tr>
                <td>@arquivo.id_arquivo</td>
                <td>@arquivo.NomeEdi</td>
                <td>@arquivo.Versao</td>
            </tr>
        }
    </tbody>
</table>
