@model IEnumerable<Conembador.Models.Arquivo>

@{
    ViewData["Title"] = "Listar Arquivos";
}

<h2>Arquivos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome Edi</th>
            <th>Versão</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arquivo in Model)
        {
            <tr>
                <td>@arquivo.NomeEdi</td>
                <td>@arquivo.Versao</td>
                <td>
                    <a asp-controller="Edi" asp-action="ApresentarEdi" asp-route-id="@arquivo.id_arquivo">Ver Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
