@model Conembador.Models.Itens

@{
    ViewData["Title"] = "Teste001";
}

<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Exemplo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
$(document).ready(function () {
    var contador = 0;

    $("#adicionarCampo").click(function () {
        contador++;
        var novoCampo = '<div class="form-row">' +
            '<div class="form-group col-md-4">' +
            '<label for="Itens_' + contador + '__Descricao">Descricao:</label>' +
            '<input type="text" class="form-control" id="Itens_' + contador + '__Descricao" name="Itens[' + contador + '].Descricao">' +
            '</div>' +

            '<div class="form-group col-md-4">' +
            '<label for="Itens_' + contador + '__Inicio">Inicio:</label>' +
            '<input type="number" class="form-control" id="Itens_' + contador + '__Inicio" name="Itens[' + contador + '].Inicio">' +
            '</div>' +

            '<div class="form-group col-md-4">' +
            '<label for="Itens_' + contador + '__Fim">Fim:</label>' +
            '<input type="number" class="form-control" id="Itens_' + contador + '__Fim" name="Itens[' + contador + '].Fim">' +
            '</div>' +
            '</div>';

        $("#camposExtras").append(novoCampo);
    });
});


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Conemb</h2>
    <form asp-action="EnviarRespostas" asp-controller="Teste" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Descricao">Descricao:</label>
                <input type="text" class="form-control" id="Descricao" name="Descricao">
            </div>

            <div class="form-group col-md-4">
                <label for="Inicio">Inicio:</label>
                <input type="number" class="form-control" id="Inicio" name="Inicio">
            </div>

            <div class="form-group col-md-4">
                <label for="Fim">Fim:</label>
                <input type="number" class="form-control" id="Fim" name="Fim">
            </div>
        </div>

        <div id="camposExtras"></div>

        <button type="button" class="btn btn-primary" id="adicionarCampo">Adicionar Mais</button>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
