@model Conembador.Models.Itens
@{
    ViewData["Title"] = "Cadastrar Item";
    var arquivos = ViewBag.Arquivos as List<Conembador.Models.Arquivo>;
    var itens = ViewBag.Itens as List<Conembador.Models.Itens>;
    var selectedArquivoId = ViewBag.id_arquivo as int?;//na viewbag, era id_arquivo, por isso parou de funcionar quando alterei o nome de forma indevida sem prestar atenção!!!
}

<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Exemplo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var contador = @itens?.Count ?? 0;

            $("#adicionarCampo").click(function () {
                contador++;
                var novoCampo = '<div class="form-row">' +
                    '<div class="form-group col-md-4">' +
                    '<label for="Itens_' + contador + '__Descricao">Descricao:</label>' +
                    '<input type="text" class="form-control" id="Itens_' + contador + '__Descricao" name="Itens[' + contador + '].Descricao">' +
                    '</div>' +

                    '<div class="form-group col-md-4">' +
                    '<label for="Itens_' + contador + '__Inicio">Inicio:</label>' +
                    '<input type="number" class="form-control" id="Itens_' + contador + '__Inicio" name="Itens[' + contador + '].Inicio">' +
                    '</div>' +

                    '<div class="form-group col-md-4">' +
                    '<label for="Itens_' + contador + '__Fim">Fim:</label>' +
                    '<input type="number" class="form-control" id="Itens_' + contador + '__Fim" name="Itens[' + contador + '].Fim">' +
                    '</div>' +
                    '</div>';

                $("#camposExtras").append(novoCampo);
            });
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Conemb</h2>
    <form asp-action="EnviarRespostas" asp-controller="Item" method="post">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Arquivo Selecionado:</label>
                <input type="hidden" id="id_arquivo" name="id_arquivo" value="@selectedArquivoId" />
            </div>
        </div>

        @if (itens != null && itens.Count > 0)
        {
            <div id="itensExistentes">
                @for (int i = 0; i < itens.Count; i++)
                {
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Itens_@(i)__Descricao">Descricao:</label>
                            <input type="text" class="form-control" id="Itens_@(i)__Descricao" name="Itens[@(i)].Descricao" value="@itens[i].Descricao">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Itens_@(i)__Inicio">Inicio:</label>
                            <input type="number" class="form-control" id="Itens_@(i)__Inicio" name="Itens[@(i)].Inicio" value="@itens[i].Inicio">
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Itens_@(i)__Fim">Fim:</label>
                            <input type="number" class="form-control" id="Itens_@(i)__Fim" name="Itens[@(i)].Fim" value="@itens[i].Fim">
                        </div>
                    </div>
                }
            </div>
        }

        <div id="camposExtras"></div>

        <button type="button" class="btn btn-primary" id="adicionarCampo">Adicionar Mais</button>
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
