@model IEnumerable<Conembador.Models.Arquivo>

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Arquivos</title>
</head>
<body>
    <h2>Lista de Arquivos</h2>
    @if (Model != null && Model.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Versão</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var arquivo in Model)
                {
                    <tr>
                        <td>@arquivo.id_arquivo</td>
                        <td>@arquivo.NomeEdi</td>
                        <td>@arquivo.Versao</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum arquivo encontrado.</p>
    }
</body>
</html>
